<div class="card " >
    <div class="card-body text-center">
      <h5 class="card-title">Pizzas</h5>
      <h6 class="card-subtitle mb-2 text-muted">Designed & developed by Taruna</h6>
      <p class="card-text">“Craving Satisfaction, One Slice at a Time.”
        .</p>
      <a class="card-link" href="/listings">All pizzas</a>
          
    </div>
  </div>