<div class="footer fixed " >
    <div class="card-body text-center">
      <h5 class="card-title text-danger">Pizzas</h5>
      <h6 class="card-subtitle mb-2 ">Designed & developed by Taruna</h6>
      <p class="card-text">“Craving Satisfaction, One Slice at a Time.”
        .</p>
      <a class="card-link" href="/">All pizzas</a>
          
    </div>
  </div>