<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-pizza-slice"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
          <a class="nav-link" href="/listings">All pizzas</a>
          <a class="nav-link" href="/listings/new">Add new Pizza</a>
        </div>

          <div class="navbar-nav ms-auto">

         <%  if(!currUser) { %>
          <a class="nav-link" href="/signup">signup</a>

          <a class="nav-link" href="/login">login</a>
          <% } %>
          <% if(currUser) { %>
            <a class="nav-link" href="/logout">log Out</a>

          <% }%>


        </li>
       
      </div>

    </div>
  </div>
</nav>