*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}

body{
  background-color: aqua;
}

.list-flex{
   display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.card-text{
  /* font-weight: bold; */
}
.navbar , .card  {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.footer{
  margin-top: 2rem;
  width: 100%;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.nav-link{
  color: black  !important ;

}
.heading{
  font-size: 1.2rem;
  
}
.card-text{
  color: black !important;
}
.nav-link:hover{
  color: red !important;
}
.navbar-brand img{
  width: 50px;
}
.link{
  text-decoration: none;
  color: black;
}
.card{
  align-items: center !important;
  

  margin: 1rem 1.5rem  !important;
  border: none !important;
}
.card-img-top{
  width: 100% !important;
  object-fit: cover !important;
  border-radius: 10px !important;

}

.new{
  margin-top: 1rem;
  text-align: center;
  color: black;
  font-weight: 700;
  text-decoration: underline;
}

/* show image */
.show-image{
   height: 30vh;
}

/* map */
#map{

height:400px;
width: 100%;
 }
